/*Media Queries
Responsive Design 
Style Elements On Different Screen Sizes
min-width:----starting from
max-width:----upto
Mobile First 

body{
    background: yellow;
}
.banner{
    background: blue;
    border-radius: 20px;
}
h1{
    color:red;
    text-align: center;
   
}

@media screen and (max-width:768px){
    body{
        background: red;

    }
    .banner{
        background: yellow;
        border-radius: 100px;
    }
    h1{
        color: black;
        font-size: 60px;
    }
}
/*@media screen and (min-width:576px){
    body{
        background: red;

    }
    .banner{
        background: yellow;
    }
    h1{
        color: black;
        font-size: 60px;
    }
}*/

/*
z-index -- z-axis
position:static --- does not word

img{
    width: 240px;
    height: 230px;
    position: absolute;
} 
.banner{
    margin: 20px;
    width: 80vh;
    height: 70vh;
    border: 5px solid red;
    position: relative;
}

.one{
    top: 0;
    left: 0;
    z-index: 0;
}
.two{
    top: 10%;
    left: 20%;
    z-index: 1;
}
.three{
    top: 20%;
    left: 40%;
    z-index: 2;
}*/

/* psedo elelment ::before :: after content not element. content:'' ===requird
img ---does not work */
p::before{
    content:"hello ";
    display: block;
    background: black;
    font: bold;
    font-size: 4rem;
    color: red;
}

p::after{
    content:"after ";
    font: bold;
    font-size: 4rem;
    color: red;
    display: block;
    background: black;
}

div::before{
    content: "";
    border: 2px solid gray;
    border: 2px solid green;
    width: 50vw;
    margin:100px auto;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
}
img{
    width: 100%;
    height: 500px;
}
div::after{
    content: "";
    border: 2px solid gray;
    border: 2px solid green;
    width: 50vw;
    margin:100px auto;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
}